// main: ../style.less

.nav {
  .dflex;
  .vcenter;

  @media @mobile {
    position: fixed;
    flex-direction: column;
    padding: 3rem;
    top: 0;
    right: 0;
    // height: 100%;
    .w100;

    background-color: @white;
    z-index: 800;

    overflow: auto;

    transform: translateY(-100%);
    transition: transform .2s linear;

    .show-sidebar & {
      transform: translateY(0);
    }
  }

  a {
    display: block;
  }
}

.nav__link {
  margin-left: 5.9rem;
  padding: .2rem 0;
  position: relative;

  font-size: 2rem;
  color: @blue;
  font-weight: 400;

  &:before,
  &:after {
    .before;
    height: 1px;
    width: 0;
    .w100;
    top: 0;
    left: 0;
    background-color: @orange;
    transform: scale(0);

    transition: transform .2s linear;
    // transition: width .2s linear, color .2s linear;
  }

  &:after {
    top: auto;
    bottom: 0;
  }

  &:hover {
    color: @orange;

    @media @mobile {
      color: @blue;
    }
    
    &:before,
    &:after {
      // .w100;
      transform: scale(1);
      
      @media @mobile {
        display: none;
      }
    }
  }

  @media @mobile {
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 2px solid @orange;
  }
}